/* General pawn styling */
.pawn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    background-color: white;
    font-size: 4rem; 
    padding: 0.6rem; 
    border: 1px solid black;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
     transition: all 0.1s ease;
}


@media only screen and (max-height: 768px) {
   .pawn{
    font-size: 2rem;
   }
}
@media only screen and (max-width: 768px) {
    .pawn{
     font-size: 2rem;
    }
 }


.red {
    color:var(--color-red);
   
}


.green {
  color:var(--color-green);

}



.r_step_1 {
    top: 6%;
    right: 39%;
    transform: scale(0.6);
}
.r_step_2{
    top: 12%;
    right: 39%;
    transform: scale(0.6);
}
.r_step_3{
    top: 19%;
    right: 39%;
    transform: scale(0.6);
}
.r_step_4{
    top: 26%;
    right: 39%;
    transform: scale(0.6);
}
.r_step_5{
    top: 32%;
    right: 39%;
    transform: scale(0.6);
}
.r_step_6{
    top: 39%;
    right: 32.5%;
    transform: scale(0.6);
}
.r_step_7{
    top: 39%;
    right: 25.6%;
    transform: scale(0.6);
}
.r_step_8{
    top: 39%;
    right: 19%;
    transform: scale(0.6);
}
.r_step_9{
    top: 39%;
    right: 12.5%;
    transform: scale(0.6);
}
.r_step_10{
    top: 39%;
    right: 6%;
    transform: scale(0.6);
}
.r_step_11{
    top: 39%;
    right: -1%;
    transform: scale(0.6);
}
/* Initial positions for red pawns in the red base


.red_base_2 {
    top: 24%;
    right: 6%;
}

.red_base_3 {
    top: 8%;
    right: 25%;
}

.red_base_4 {
    top: 8%;
    right: 6%;
}

/* Initial positions for green pawns in the green base */
/* .green_base_1 {
    bottom: 8%;
    left: 6%;
}

.green_base_2 {
    bottom: 8%;
    left: 25%;
}

.green_base_3 {
    bottom: 24%;
    left: 6%;
}

.green_base_4 {
    bottom: 24%;
    left: 25%;
}  */
